.todo-container {
    width: 700px;
    margin: auto;
    background: rgb(198, 217, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }
 input {
    width:300px;
    height: 30px;
    margin-bottom: 1rem;
    border-radius: 1px;
  } 
  